<div class="menu" [class.menu-open]="menuAberto">
  <div class="profile-card">
      <div class="header ">
           <h6>Alexandre Carcanholo</h6>
           <h6>email@email.com</h6>
      </div>
      <img src="https://img.wattpad.com/8f19b412f2223afe4288ed0904120a48b7a38ce1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5650722d38464e2d744a515349673d3d2d3234323931353831302e313434336539633161633764383437652e6a7067?s=fit&amp;w=720&amp;h=720"
      alt="Soufiane FADIL">
  </div>
  <div>
    <ul class="sub-menu">
        <li class="d-block d-sm-none"><a href="#">Sair</a>
        </li>
        <!-- <li><a routerLink="/resumo">Resumo</a></li> -->
        <!-- <li><a routerLink="/consulta">Consulta</a></li> -->
        <!-- <li><a routerLink="/faturamento">Faturamento</a></li> -->
        <li><a routerlink="/tipo-esgotamento">Tipo de Esgotamento</a>
        </li>
    </ul>
  </div>
</div>